.page{
 display:flex;
  margin: 200px;
}
.MenuList{
  background-color:  lightcyan;
  height: 500px;
  width: 700px;
  border: 1px solid rgb(152, 192, 205);
}
.OrderList{
  background-color: lightcyan;
  height: 500px;
  width: 700px;
  border: 1px solid rgb(152, 192, 205);
}

#Menu{
  background-color: lightblue;
}
#order{
  background-color: lightblue;
}
